*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    font-family:'Work Sans', sans-serif ;
}
html{
    scroll-behavior: smooth;
}
.container{
    padding-left: 20px;
    padding-right: 20px;
    margin-left:  auto;
    margin-right:  auto;
}
.header{
    padding: 20px;
}
.header .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
.header .container .logo{
    width: 60px;
}
.header .container .links{
    position: relative;
}
.header .container .links:hover .icon span:nth-child(2){
   width: 100%;
}
.header .container .links .icon{
    width: 30px;
    display: flex;
    flex-wrap:wrap ;
    justify-content: flex-end;


}
.header .container .links .icon span{
    background-color: black;
    margin-bottom: 5px;
    height: 2px;
}
.header .container .links .icon span:first-child{
    width: 100%;
}
.header .container .links .icon span:nth-child(2){
    width: 60%;
    transition: .3s;
}
.header .container .links .icon span:last-child{
    width: 100%;
}

.header .container .links ul{
    list-style-type: none;
    background-color: #eee;
    padding: 0;
    margin: 0;
    position: absolute;
    top: calc(100% + 15px);
    right:0 ;
    min-width: 200px;
    display: none;
    

}
.header .container .links:hover ul{
    display: block;
}

.header .container .links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent black transparent;
    position: absolute;
    top: -20px;
    right: 5px;


}
.header .container .links ul li a{
    display: block;
    text-decoration: none;
    color: #333;
    padding: 15px;
    transition: .3s;
}
.header .container .links ul a:hover{
    padding-left: 25px;
}
.header .container .links ul li:not(:last-child){
    border-bottom: 1px solid #ddd;
}


.landing{
    background-image: url(../images/landing.jpg);
    height: calc(100vh - 64px);
    position: relative;
    background-size: cover;
    z-index: -1;
}


.landing .intro-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    width: 340px;
}
.landing .intro-text  h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color:#10cab7;
    margin: 0;
}
.landing .intro-text p{
    text-align: center;
    font-size: 19px;
    color: #10cab7;
    font-weight: bold;

}
.features{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.features .container{
    display: grid;
    grid-template-columns: repeat( auto-fill , minmax(300px ,1fr));
    gap: 20px;
}
.features .container .feat{
    text-align: center;
    padding: 20px;
}
.features .container .feat i{
    color: #10cab7;
}
.features .container .feat h3{
    color: #10cab7;
    margin: 30px 0;
}
.features .container .feat p{
    color: #777;
    line-height: 1.8;
    font-size: 20px;
}
.global-heading {
    text-align: center;
    font-size: 100px;
    font-weight: 800;
    color: #ebeced;
    margin: 0;
}
.global-heading + p {
    color: #777;
    text-align: center;
    margin: -30px 0 0;
    font-size: 20px;
}
@media (max-width:767px){
    .global-heading{
        font-size:50px;
    }
    .global-heading + p{
        margin: -10;
    }
}




.services{
    padding-top: 60px;
    padding-bottom: 60px;
}
.services .container .services-content{
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fill , minmax(300px ,1fr));
    
    gap: 30px;
    margin-top: 100px;
    
}

.services .services-content .col .srv{
    display: flex;
    margin-bottom: 30px;
}
@media (max-width:767px){
    .services .services-content .col .srv{
        text-align: center;
        flex-direction: column;
    }
}
.services .services-content .col .srv i{
    flex-basis: 60px;
    color: #10cab7;
    
}
.services .services-content .col .srv .text{
    flex: 1;
}
.services .services-content .col .srv .text h2{
    margin: 0 0 20px;

}
.services .services-content .col .srv .text p{
    color: #444;
    font-weight: 300;
    line-height: 1.8;
    
}
.services .services-content .col .image{
    text-align: center;
    position: relative;
    
}
.services .services-content .col .image img{
    width: 240px;

}
.services .services-content .col .image::before {
    content: "";
    background-color: black;
    position: absolute;
    width: 105px;
    height: calc(100% + 100px);
    z-index: -1;
    top: -50px;
    right: -10px;
}
@media (max-width:1199px){
    .image-column{
        display: none;
    }
}
/* frist- portfolio */





.portfolio{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.portfolio .portfolio-content{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(300px, 1fr)); ;
    gap: 30px;
    margin-top: 80px;
}
.portfolio .portfolio-content .card{
    background-color: white;
}
.portfolio .card img{
    max-width: 100%;
}
.portfolio .card .info{
    padding: 20px;
}
.portfolio .card .info h3{
    margin: 0;
}
.portfolio .card .info p{
    margin-bottom: 0;
    color: #777;
    line-height: 1.6;
}

/* end portfolio */
/* frist about */


.about{
    padding-top: 60px;
    padding-bottom: 60px;
}
.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @media (max-width:991px){
    .about .about-content{
        flex-direction: column;
        text-align: center;
    }
  }
  
  .about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
  }
  
  @media (max-width:991px){
    .about .about-content .image {
        margin: 0 auto 60px;
    }
  }
 
  .about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
  }
  .about .about-content .image::after {
    top: -40px;
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid #10cab7;
    border-bottom: 80px solid #10cab7;
    z-index: -1;
    right: -150px;
  }
  @media (max-width:991px){
    .about .about-content .image::after,
    .about .about-content .image::before {
        display: none;
    }
  }
  
  .about .about-content .image img {
    max-width: 100%;
  }
  .about .text{
    flex-basis: calc(100% - 500px);
  }
  .about .text p:first-of-type{
    font-weight: bold;  
    line-height: 1.8;
    margin-bottom: 50px;
}
.about .text hr {
    border-color: #10cab7;
    width: 50%;
    display: inline-block;
}
.about .text p:last-of-type{
    line-height: 1.8;
    color: #777;
}
 /* last about  */
/* frist Contact */


.contact{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}


.contact .info{
    margin-top: 100px;
    text-align: center;
    text-align: center;
} 

.contact .info .label{
    font-weight: 800;
    font-size: 35px;
    color: #2c4755;
    letter-spacing: -2px;
}

.contact .info a{
    font-weight: 800;
    font-size: 35px;
    color: #10cab7;
    text-decoration: none;
    display: block;
}
@media (max-width:767px){
    .contact .info .label,
    .contact .info a{
        font-size: 25px;
    }
}
.contact .info .social{
    margin-top: 20px;
    font-size: 27px;
    display: flex;
    justify-content: center;
}
.contact .info .social i{
    margin-left: 10px;
    color: #2c4755;
}



.footer{
    background-color: #2c4755;
    text-align: center;
    padding: 30px;
    font-size: 18px;
    color: white;
}
.footer span{
    color: #10cab7;
    font-weight: bold;
}

